body {
background-color: #00802b;
}
h1 {
color:white;
text-shadow: 3px 4px 5px #000;
padding-left: 5%;
background-color: #009688;
line-height: 50px;
}
h3{
color:white;
text-shadow: 3px 4px 5px #000;
padding-left: 5%;

}
ul {
  padding-left: 10%;
}
#carousel {
text-align: center;
}
iframe {
  padding-left: 10%;
}
span{
  font-size: 2em;
  text-shadow: 3px 4px 5px #000;
  color:white;
}
address{
  margin-top: 5%;
  margin-left: 50px;
  padding: 5px 5px 5px 10px;
  background-color: #009688;
  width: 220px
}
